<h1>Listing blogposts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Body</th>
    <th>Summary</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogposts.each do |blogpost| %>
  <tr>
    <td><%= blogpost.title %></td>
    <td><%= blogpost.date %></td>
    <td><%= blogpost.body %></td>
    <td><%= blogpost.summary %></td>
    <td><%= blogpost.published %></td>
    <td><%= link_to 'Show', blogpost %></td>
    <td><%= link_to 'Edit', edit_blogpost_path(blogpost) %></td>
    <td><%= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blogpost', new_blogpost_path %>
